.search-header {
  width: 100%;
  max-height: 50vh;
  background-color: #f0f0f0;
}
.search-container {
  height: 50px;
  width: 75%;
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  margin: 90px 0px 90px 0px;
}
.search-icon {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  background: white;
  height: 50px;
  margin-top: -8px;
}
.search-box {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  border: none;
}
input {
  font-size: 16px;
  &:focus {
    border: transparent;
    outline: none;
  }
}
@media (min-width: 768px) {
  input {
    margin-bottom: 0;
  }
}
.cancel-search-btn {
  font-size: 24px;
  font-weight: 500;
  color: black;
  margin-left: 25em;
  cursor: pointer;
}
.search-title {
  line-height: 19px;
}
.search-results {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .cancel-search-btn {
    font-size: 12px;
    font-weight: 500;
    color: black;
    margin-left: 25em;
    cursor: pointer;
  }
  .search-title {
    line-height: 19px;
    font-size: 12px;
  }
}
