.card {
  grid-column: auto;
  min-width: 200px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  &:hover .card-details {
    color: white;
  }

  &-image {
    margin-top: 1rem;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.25s ease-in-out;
  }
  &-details {
    text-transform: capitalize;
    color: rgb(231, 106, 3);
    font-weight: bold;
    position: absolute;
    padding: 15px;
    margin: 5px;
    margin-top: -100px;
    z-index: 1;
    transition: 0.25 ease-in-out;
    text-align: justify;
    transform: scale(1.1);
    font-size: 1.5rem;
  }

  &-text {
    text-align: justify;
    color: white;
    position: absolute;
    padding: 15px;
    margin: 5px;
    margin-top: -70px;
    z-index: 1;
    transition: 0.25 ease-in-out;
    text-transform: capitalize;
    transform: scale(1.1);
  }
}
