.App {
  text-align: center;
}

.photo-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-area: auto;
  position: relative;
  gap: 2rem;
  margin: 0 auto;
  margin-top: -85px;
  max-width: 850px;
  padding: 3em;
}
